<div class="container">
    <h3>Create New Job Post</h3>
    <div class="row">
        <div class="col-md-4 mb-1">
            <input type="text" id="form3Example1q" [(ngModel)]="jobObj.JobName" name="JobName" class="form-control" />
            <label class="form-label" for="form3Example1q">Job Title</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-1">
            <div class="form-outline datepicker">
                <select class="form-control" [(ngModel)]="jobObj.CategoryId" name="CategoryId">
                    <option value="" selected>Select Job Category</option>
                    <option *ngFor="let category of categoryList" [value]="category.jobCategoryId">{{category.categoryName}}</option>
                </select> 
                <label for="exampleDatepicker1" class="form-label">Select Category</label>
            </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="form-outline datepicker"> 
                <select class="form-control" [(ngModel)]="jobObj.Experience" name="Experience">
                    <option value="" selected>Select Job Category</option>
                    <option value="Fresher">Fresher</option>
                    <option value="Experienced">Experienced</option>
                </select> 
                <label for="exampleDatepicker1" class="form-label">Mobile</label>
            </div>
        </div>
        
    </div>
    <div class="row mb-1 pb-2 pb-md-0 ">
        <div class="col-md-4 mb-1">
            <div class="form-outline datepicker">
                <input type="text" class="form-control" [(ngModel)]="jobObj.Package" name="Package" />
                <label for="exampleDatepicker1" class="form-label">Package</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-outline">
                <input type="text" [(ngModel)]="jobObj.Location" name="Location" class="form-control" />
                <label class="form-label" for="form3Example1w">Location</label>
            </div>
        </div>
    </div>


    <div class="form-outline mb-1">
        <textarea name="" class="form-control" [(ngModel)]="jobObj.JobDescription" name="JobDescription"
            rows="3"></textarea>
        <label class="form-label" for="form3Example1q">Job Description</label>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button (click)="CreateJob()" class="btn btn-success btn-lg mb-1">Create Job</button>
        </div>
    </div>
</div>